
{% extends "layout.html" %}



{% block body %}



<div style="float:right; margin-left: 20px;">
<div class="main_menu">
<a href="{{ pathto('main') }}">Plugin Developer Documentation</a>
</div>
</div>

<h1>PyLaunchy Web Site</h1>

<p>Welcome to the PyLaunchy website.</p>

<h2>What is PyLaunchy?</h2>

<p>
PyLaunchy is an extension to <a href="http://www.launchy.net">Launchy's</a> plugin system, that allows the user to develop Launchy plugins in the <a href="http://www.python.org">Python</a> language.

Since Launchy plugins are usually written in C++, and Python is a scripted language, this shortens and improves the process of developing plugins.

<a href="{{ pathto('main') }}">Plugin Developer Documentation</a>
</p>

{% endblock %}
